p {
    text-align: left;
}
h2 {
    color: #4aaaa5;
}



img {
    height: 200px;
    width: 200px;
    float: left;
    position: absolute;
    left: -200px;
    padding: 20px;
}

body {
    background-color: #dddddd;
    width: 500px;
}
    

div {
    width: 1000px;
    position: fixed;
    top: 150px;
    left: 400px;
    text-align: left;
}
h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 200px;
    right: 500px;
    margin-left: 25px;
}
a {
    
    margin: 25px;
    
}
.board {
    width: 300px;
     margin: 0px;
    background-color:#dddddd; 
    top: 0px;
    position: absolute; 
    right: 5000px;
    padding: 20px;
    
}

.about {
    width: 966px;
    background-color: #ffffff;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 100px;
    position: absolute;
    left: 25px;
    right: 25px;
    text-align: center;
}

.me {
    position: fixed; 
    top: 80px;
    left: 150px
}
.html {
    margin: 0px;

}
footer {
    position: absolute;
    bottom: 0px;
    text-align: center;
    background-color: #666666;
    border: 5px;
    width: 2000px;
}






 