img {
    height:200px;
    width: 200px;
    position: absolute;
    left: -250px;
}
    

div {
    width: 1000px;
    position: fixed;
    top: 150px;
    left: 400px;
}
h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 200px;
    right: 500px;
    margin-left: 85px;
}
a {
    
    margin: 25px;
    
}
.board {
    width: 300px;
     margin: 0px;
    background-color:#dddddd; 
    top: 0px;
    position: absolute; 
    right: 5000px;
    
}

.about {
    width: 1066px;
    background-color: #dddddd;
    border: 5px solid black;
    margin: -10px;
    padding: 200px;
    position: absolute;
    left: 25px;
    right: 25px;
}

.me {
    position: fixed; 
    top: 80px;
    left: 150px
}




 