div {
    background-color: white;
    border: 10px;
    padding: 20px;
}

h1 {
    background-color: #4aaaa5;
    color: aliceblue;
    border: 1px;
}

h2 {
    color: #4aaaa5;
}

footer {
    position: absolute;
    bottom: 0px;
    text-align: center;
    background-color: #666666;
    border: 5px;
    width: 2000px;
}
body {
    background-color: lightgray;
}